.toggle-btn {
    width: auto;
    padding: 10px 20px;
    background: #249cfb;
    color: #fff;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:active {
        opacity: .8;
    }
}