.toggle-btn {
    height: 30px;
    line-height: 30px;
    background: #249cfb;
    color: #fff;
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    padding: 0 20px;
}